# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Test & coverage
.pytest_cache/
.coverage
htmlcov/
*.cover

# Environment & secrets
.env
.env.local
config/default.yaml

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

#decompiled python files
*.pyc
*.pyo
*.pyd
__pycache__/
.ruff_cache/
.decompiled/
.decompiled_cache/
.decompiled_tests/